<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConfigPush</title>
    <link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='../static/device.css'>

</head>
<body>
<br/>
<h1><span class="blue">&lt;</span>ROS<span class="blue">&gt;</span> <span class="yellow">L2TP VPN</span></h1>
<h2>*** Choose your device auto push configuration ***</h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>ID</h1></th>
			<th><h1>Owner</h1></th>
			<th><h1>Address</h1></th>
			<th><h1>Action</h1></th>
		</tr>
	</thead>
	<tbody>
        {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.owner }}</td>
                <td id = 'address'>{{ i.address }}</td>
                <td id = 'push' style='cursor: pointer'>PUSH</td>
            </tr>
        {% endfor %}
	</tbody>
</table>
<div id = 'import' style="height: 500px;
            width: 30%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 11;
            display:none;
            ">
        <form>
          <div class="form-group">
            <label for="loginusername">ROS Login Username</label>
            <input type="text" class="form-control" id="loginusername" placeholder="ROS Login Username">
          </div>

          <div class="form-group">
            <label for="loginpassword">ROS Login Password</label>
            <input type="text" class="form-control" id="loginpassword" placeholder="ROS Login Password">
          </div>

          <div class="form-group">
            <label for="l2tpusername">L2TP Username</label>
            <input type="text" class="form-control" id="l2tpusername" placeholder="L2TP Username">
          </div>

          <div class="form-group">
            <label for="l2tppassword">L2TP Password</label>
            <input type="text" class="form-control" id="l2tppassword" placeholder="L2TP Password">
          </div>

          <div class="form-group">
            <label for="rosip" class="disabled">ROS Router Management IP</label>
            <input type="text" id="rosip" class="form-control" disabled>
          </div>
          <button id = 'action' type="submit" class="btn btn-primary btn-md">Submit</button>
          <button id = 'cancel' type="button" class="btn btn-danger">Cancel</button>
        </form>
    </div>
<div id = 'no_edit' style="position: fixed;
            top: 0;left: 0;right: 0;bottom: 0;
            background-color: black;z-index: 10;opacity: 0.7;display: none">

</div>
<script src='../static/js/jquery-1.11.3.min.js'></script>
<script>
    $('#push').click(function () {
        $('#import').css('display','block');
        $('#no_edit').css('display','block');
        var tr = $(this).parent();
        var ip = tr.children('td#address').text();
        $('#rosip').val(ip);
    });
    $('#cancel').click(function () {
        $('#import').css('display','none');
        $('#no_edit').css('display','none');
    });
    $('#action').click(function () {
        var loginuser = $('#loginusername').val();
        var loginpasswd = $('#loginpassword').val();
        var l2tpuser = $('#l2tpusername').val();
        var l2tppasswd = $('#l2tppassword').val();
        var rosip = $('#rosip').val();
        if(loginuser.length === 0){
            alert('ROS用户名不能为空!');
            return false
        }
        else if(loginpasswd.length === 0){
            alert('ROS密码不能为空!');
            return false
        }
        else if(l2tpuser.length === 0){
            alert('L2TP用户名不能为空!');
            return false
        }
        else if(l2tppasswd.length === 0){
            alert('L2TP密码不能为空!');
            return false
        }
        else {
            $.ajax({
                url:'device',
                type:'post',
                data:{'loginuser':loginuser,'loginpasswd':loginpasswd,'l2tpuser':l2tpuser,'l2tppasswd':l2tppasswd,
                    'rosip':rosip,
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                success:function (data) {
                    console.log(2222);
                    var check = JSON.parse(data);
                    if (check.status === 1){
                        alert(check.result);
                        window.location.href = 'device';
                    }
                    else {
                        console.log(111);
                        alert(check.result)
                    }

                }
            })
        }
    })
</script>>

</body>
</html>