<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>

</head>
<body>
    <div style="
            width: 800px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display:none">
        <form>
          <div class="form-group" style="width: 50%">
            <label for="formGroupExampleInput">ROS Login Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ROS Login Username">
          </div>

          <div class="form-group" style="width: 50%">
            <label for="formGroupExampleInput2">ROS Login Password</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ROS Login Password">
          </div>

          <div class="form-group" style="width: 50%">
            <label for="formGroupExampleInput3">L2TP Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="L2TP Username">
          </div>

          <div class="form-group" style="width: 50%">
            <label for="formGroupExampleInput4">L2TP Password</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="L2TP Password">
          </div>
          <button type="submit" class="btn btn-primary btn-md">Submit</button>
        </form>
    </div>
</body>
</html>